
.inputFieldStyle{
    background-color: unset;
    border-color:white;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-radius: unset;
    color: #FFFFFF;
}

.inputFieldStyle:focus{
    background-color: unset;
    border-color:white;
    box-shadow: unset;
    color: #FFFFFF;
}

.form-floating> textarea:not(:placeholder-shown)~label{
    transform: scale(.70) translateY(-3rem) translateX(.15rem);
}

.form-floating>.form-control:focus~label , .form-floating>.form-control:not(:placeholder-shown)~label{
    transform: scale(.70) translateY(-2rem) translateX(.15rem);
}

.form-floating>label{
    padding: 1em 0 0 0;
    top: 0.5rem;
    font-size: 1.2rem;
}

.btnSubmit{
    background: #E83618;
    color: #FFFFFF;
}

.contactDiv{
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.socialIcons{
    margin-top: 5em ;
    margin-bottom: 2em;
}

.col6FHD{
   flex: 0 0 auto;
   width: 40%;
   margin-left: 10%; 
}



/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 75%, #E83618 25%);
    }
}


/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 81%, #E83618 19%);
    }
}


/* // XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 81%, #E83618 19%);
    }
    
}


/* ==================================================================================== */


/* ------------------------------------------------------------------------------------- */