
.img-slide {
    height: 50% !important;
}

.headLine {
    font-size: 2em;
    text-align: center;
}

.headbigs {
    font-size: 2.1em !important;
}

.headbig {
    font-size: 3.13em !important;
}

.headbigSd {
    font-size: 3.13em !important;
}

.headbigLg {
    font-size: 4.13em !important;
}

.sliderText{
    text-align: center;
    font-size: 1em;
}

.btnknowmore {
    background-color: #F4664E;
    color: #ffffff !important;
}

.btnknowmore:hover {
    background-color: #E83618;
}

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #E83618;
}





/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 75%, #E83618 25%);
    }

    .videoName{
        font-size: 0.89rem;
    }
}


/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    

    .videoName{
        font-size: 1.1rem;
    }
}


/* // XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 81%, #E83618 19%);
    }
   

    .sliderText{
        font-size: 1.5em;
    }

    .videoName{
        font-size: 1.25rem;
    }

    
}


/* ==================================================================================== */


/* ------------------------------------------------------------------------------------- */