/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Common Style -------------------------------------------------------------- */

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

/* .font-cormorant{
    font-family: 'Cormorant', serif;
} */

.font-nunito{
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-weight: 700;
}

.navbar-brand {
    margin-right: unset !important;
}

.logo img {
    width: 70%;
    margin-left: 1rem;
    margin-top: 0.25rem;
    padding-top: 1.7vw;
    padding-left: 1vw; 

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav {
    margin-right: 1rem !important;
    margin-top: 0.5vw;
}

.navbar-nav .nav-link {
    font-size: 1em;
}

.nav-link {
    font-weight: 500;
    color: black !important;
    border-radius: 10px;
    margin: 0.3em 0.3em 0.3em 0.3em;
}

.text-white{
    color: #ffffff !important;
}

.navbar-nav .active {
    background: #FEE9E9;
}

.navbar-nav .active:hover {
    background-color: #FFC1C3 !important;
}

.nav-link:hover {
    background: #FEE9E9;
    color: #000000 !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: #F4F4F4;
    box-shadow: 0 0 0 0.25rem;
}

.navbar-light .navbar-toggler {
    color: #F4F4F4;
    border-color: #F4F4F4;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg width='86' height='60' viewBox='0 0 86 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 60H86V50H0V60ZM0 35H86V25H0V35ZM0 0V10H86V0H0Z' fill='black'/%3E%3C/svg%3E%0A");
}

.navBgColor{
    background:#F4F4F4;
}

.pl0{
    padding-left: unset !important;
}

.pr0{
    padding-right: unset !important;
}

.pointer{
    cursor: pointer;
}








/* Homepage Style -------------------------------------------------------------- */

.btnknowmore {
    background-color: #E9301C;
    color: #ffffff !important;
}

.btnknowmore:hover {
    background-color: #D5220E;
}


/* .carousel-indicators [data-bs-target]{
    background-color: #E83618;
} */

.img-slide {
    height: 50% !important;
}


/* .carousel-inner{
    height: 60vh;
} */

.headLine {
    font-size: 2em;
    text-align: center;
}

.headbigs {
    font-size: 2.1em !important;
    font-weight: 800;
    /* font-size: 3.5em !important; */
}

.headbig {
    font-size: 3.13em !important;
    font-weight: 800;
    /* font-size: 4em !important; */
}


.headbigSd {
    font-size: 2.5rem !important;
    font-weight: 800;
}


.headbigLg {
    font-size: 4.13em !important;
    font-weight: 800;
}

.sliderText{
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    color: black !important;
}

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #E83618;
}

button:focus:not(:focus-visible) {
    outline: #F4F4F4;
}







/* Player Style -------------------------------------------------------------- */

:root{
    --plyr-color-main: #e83618;
}
.plyr{
    border-radius: 6px;
}

#playlist{
    background-color: #c9c9c9;
    /* -webkit-filter: blur(15px); */
    border-radius: 6px;
    height: inherit;
}
#list {
    height: 36vw;
}

.ytp-chrome-top{
    display: none;
}

.nowPlaying{
    color: white;
    background-color: #000000cc;
    transform: translate(0%,-362%)!important;
    padding: 1px 5px 1px 10px;
    font-size: 0.8em;
}



/* ContactusPage Style -------------------------------------------------------------- */

.inputFieldStyle{
    background-color: unset;
    border-color:white;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-radius: unset;
    color: #FFFFFF;
}

.inputFieldStyle:focus{
    background-color: unset;
    border-color:white;
    box-shadow: unset;
    color: #FFFFFF;
}

.form-floating> textarea:not(:placeholder-shown)~label{
    transform: scale(.70) translateY(-3rem) translateX(.15rem);
}

.form-floating>.form-control:focus~label , .form-floating>.form-control:not(:placeholder-shown)~label{
    transform: scale(.70) translateY(-2rem) translateX(.15rem);
}

.form-floating>label{
    padding: 1em 0 0 0;
    top: 0.5rem;
    font-size: 1.2rem;
}

.btnSubmit{
    background: #E83618;
    color: #FFFFFF;
}

.contactDiv{
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.socialIcons{
    margin-top: 5em ;
    margin-bottom: 2em;
}

.col6FHD{
    
        flex: 0 0 auto;
        width: 40%;
        margin-left: 10%;
    
}






/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 75%, #E83618 25%);
    }

    .bgSquareShape{
        background-image: url("/images/bgSquareShape.png");
        background-repeat: no-repeat, no-repeat;
        background-attachment: fixed, fixed;
        background-position: 100% 0%, 0% 100%;
        background-size: 52%, 27%;
    }

    .videoName{
        font-size: 0.89rem;
    }
}


/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 81%, #E83618 19%);
    }

    .bgSquareShape{
        background-image: url("/images/bgSquareShape.png");
        background-repeat: no-repeat, no-repeat;
        background-attachment: fixed, fixed;
        background-position: 100% 0%, 0% 100%;
        background-size: 52%, 27%;
    }

    .videoName{
        font-size: 1.1rem;
    }
}


/* // XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .bgDualtone{
        background: linear-gradient(90deg, #1B1C1E 81%, #E83618 19%);
    }

    .bgSquareShape{
        background-image: url("/images/bgSquareShape.png");
        background-repeat: no-repeat, no-repeat;
        background-attachment: fixed, fixed;
        background-position: 100% 0%, 0% 100%;
        background-size: 50%, 27%;
    }

    .sliderText{
        font-size: 1.5em;
    }

    .videoName{
        font-size: 1.25rem;
    }    
}