/* Player Style */

:root{
    --plyr-color-main: #e83618;
}
.plyr{
    border-radius: 6px;
}
/* ------------------ */

#playlist{
    background-color: #c9c9c9;
    /* -webkit-filter: blur(15px); */
    border-radius: 6px;
    height: inherit;
}

#list {
    height: 36vw;
}

.ytp-chrome-top{
    display: none;
}

.nowPlaying{
    color: white;
    background-color: #000000cc;
    transform: translate(0%,-362%)!important;
    padding: 1px 5px 1px 10px;
    font-size: 0.8em;
}